<!DOCTYPE html>
<html lang="tr-TR" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/app.css" />
    <title></title>
</head>

<body>
    {{{body}}}
</body>

</html>